body
{
margin:0;
padding:0;
font-family:Ebrima;
background:#0b6e8f;
color:#FFF;

}
/*#0b6e8f*/
a
{
	color:#FFF;
}
*{
margin:0;
padding:0;
}

#wrapper
{
margin:auto;

max-width:1300px;
}

h1
{
color:#FFF;
font-size:60px;

}
h5,h4
{
color:#4892AB;
}
.score,.moves
{
background-color: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#FFF));
	background: -webkit-linear-gradient(top, #EEE, #FFF);
	background: -moz-linear-gradient(top, #EEE, #FFF);
	background: -ms-linear-gradient(top, #EEE, #FFF);
	background: -o-linear-gradient(top, #EEE, #FFF);
	background: linear-gradient(top, #EEE, #FFF);
	border: 1px solid #EEE;
	border-bottom: 1px solid #FFF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #EEE;
	-webkit-box-shadow: 0 1px 0 0 #EEE inset ;
	-moz-box-shadow: 0 1px 0 0 #EEE inset;
	-ms-box-shadow: 0 1px 0 0 #EEE inset;
	-o-box-shadow: 0 1px 0 0 #EEE inset;
	color:#034D66 ;
	
	padding: 6px 20px;
	
	position:relative;
	font-size:16px;
	width:100px;
	height:30px;
	text-align:center;
	}



#refresh
{
	position:relative;
	float:left;
	left:35%;
	
	cursor:pointer;
	
	
	width:100px;
	height:30px;
	
	top:0px;
	
	background-color:#4892AB;
	background: -webkit-gradient(linear, left top, left bottom, from(#053746), to(#01384a));
	background: -webkit-linear-gradient(top, #053746, #01384a);
	background: -moz-linear-gradient(top, #053746, #01384a);
	background: -ms-linear-gradient(top, #053746, #01384a);
	background: -o-linear-gradient(top, #053746, #01384a);
	background: linear-gradient(top, #053746, #01384a);
	border: 1px solid #034D66;
	border-bottom: 1px solid #034D66;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #034D66;
	-webkit-box-shadow: 0 1px 0 0 #034D66 inset ;
	-moz-box-shadow: 0 1px 0 0 #034D66 inset;
	-ms-box-shadow: 0 1px 0 0 #034D66 inset;
	-o-box-shadow: 0 1px 0 0 #034D66 inset;
	color: #FFF;
	
	padding: 6px 20px;
	margin-top:20px;
	
	font-size:12px;
	
	text-align:center;
	
}

#power,#pow
{
	
	float:left;
	position:relative;
	width:60px;
	height:20px;
	background:#4892AB;
	color:#EEE;
	border-radius:3px;
	text-align:center;
	border:2px solid #4892AB;
	
	
}
#power td:hover
{
	background:#EEE;
	color:#4892AB;
	cursor:pointer;
}

#pow
{
	
	border:1px solid #EEE;
	
}
/*===================================================================*/
#logo
{

width:50%;
height:10%;
text-align:center;

}

#header
{
clear:both;
float:left;
width:100%;
position:relative;
height:42px;
margin-top:47px;

}

#header ul{
list-style:none;

}

#header ul li  {
float:left;
text-decoration:none;
position:relative;
font-size:12px;
text-align:center;
left:35%;
padding-right:10px;
}


#slider
{
clear:both;
float:left;
width:100%;
height:65%;

}

.feed
{
	position:relative;
	float:left;
	width:33%;
	
}
#feedleft
{
	float:left;
	position:relative;
	
}
#feedrite
{
	float:left;
	position:relative;
	
	margin-top:30px;
}
.schedule
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    left:2%;
	border-radius:5px;
	background:#EEE;
	width:440px;
	height:440px;
	margin-top:10px;
	float:left;
	position:relative;
	display:none;
	
}
.b
{
    width:100px;
	height:100px;
	margin-left:3px;
	color:#776E65;
	font-size:30px;
	
	text-align: center;
	border:none;
border-radius:5px;
position:absolute;
z-index:2;
margin-top:-50px;
}




#footer
{
position:relative;
clear:both;
float:left;
width:100%;
height:25px;
line-height:25px;
color:#FFF;
background:#034D66;
text-align:center;
border-radius:3px;
}

#disqus_thread{
	
width:1000px;

}

@media screen and (max-width:720px)
{
#logo
{
float:none;
width:100%;

text-align:center;
}

#header
{
clear:both;
float:none;
width:100%;

height:200px;
margin-top:70px;
}

#header ul{
list-style:none;
}

#header ul li {
float:none;
text-decoration:none;	
padding:0px 40px;
text-align:center;
display:block;
height:42px;
line-height:42px;
left:0%;
}

#slider
{
clear:both;
float:none;
width:100%;
}

#contentarea
{
margin-top:120px;
width:100%;
clear:both;
float:left;

}

#contentarea #leftside
{
float:none;
width:100%;

}

#contentarea #leftside .thumbs
{
margin-left:30px;
margin-bottom:30px;
float:none;
width:90%;
min-height:200px;

}

#contentarea #leftside .thumbs h2
{
background:#f20068;
color:#FFF;
width:100%;
text-align:center;

}
#contentarea #rightside 
{

float:none;
width:100%;
margin-right:20px;
margin-left:0px;
}

#contentarea #rightside  h2{

color:#FFF;
width:90%;
text-align:center;
}

#contentarea #rightside ul{
list-style:none;
}

#contentarea #rightside ul li{

height:35px;
line-height:35px;
padding-left:10px;
width:87.5%;
}

#footer
{
clear:both;
float:left;
width:100%;
height:30px;
line-height:30px;
color:#FFF;
background:#333;
text-align:center;
}


.schedule
{


	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    left:1%;
	border-radius:5px;
	background:#FFF;
	width:90%;
	height:90%;
	margin-top:10px;
	float:none;
	position:relative;
	display:none;
	
}
.b
{
    width:100px;
	height:100px;
	background:#EEE;
	
	margin-left:3px;
	
	font-size:30px;
	
	text-align: center;
	border:none;
border-radius:5px;
	
}

.css_spinner{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 52%;
	top: 100%;
	margin: -50px 0 0 -50px;
	opacity: .9;
	
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}
}

@media screen and (max-width:480px)
{
#logo
{
float:none;
width:100%;

text-align:center;
}

#header
{
clear:both;
float:none;
width:100%;

height:200px;
margin-top:70px;
}

#header ul{
list-style:none;
}

#header ul li {
float:none;
text-decoration:none;	
padding:0px 40px;
text-align:center;
display:block;
height:42px;
line-height:42px;
left:0%;
}

#slider
{
clear:both;
float:none;
width:100%;
}

#contentarea
{
margin-top:120px;
width:100%;
clear:both;
float:left;

}

#contentarea #leftside
{
float:none;
width:100%;

}

#contentarea #leftside .thumbs
{
margin-left:10px;
margin-bottom:30px;
float:none;
width:90%;
min-height:200px;

}

#contentarea #leftside .thumbs h2
{
background:#f20068;
color:#FFF;
width:100%;
text-align:center;

}
#contentarea #rightside 
{

float:none;
width:100%;
margin-right:20px;
margin-left:0px;
min-height:200px;
}

#contentarea #rightside  h2{

color:#FFF;
width:90%;
text-align:center;
min-height:200px;
}

#contentarea #rightside ul{
list-style:none;
}

#contentarea #rightside ul li{

height:35px;
line-height:35px;
padding-left:10px;
width:87.5%;
}

#footer
{
clear:both;
float:left;
width:100%;
height:30px;
line-height:30px;
color:#FFF;
background:#333;
text-align:center;
}


.schedule
{


	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    left:0%;
	border-radius:5px;
	background:#BBADA0;
	width:80%;
	height:80%;
	margin-top:10px;
	float:none;
	position:relative;
	display:none;
	
}
.b
{
    width:58px;
	height:58px;
	background:#CCC0B3;
	
	margin-left:0px;
	color:#776E65;
	font-size:15px;
	
	text-align: center;
	border:none;
border-radius:5px;
	
}

.css_spinner{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 52%;
	top: 100%;
	margin: -50px 0 0 -50px;
	opacity: .9;
	
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}
}
