@charset "utf-8";
/* CSS Document */
*
{
	font-family:Ebrima; 
}
body
{
	/*background:url('img04.jpg') repeat;*/
background:#FAF8EF;
}
p
{
	text-align:justify;
	margin-left:50px;
	margin-right:50px;
	margin-top:200px;
	
}
.score
{
	position:relative;
	
	bottom:-15px;
	color:#fff;
	font-size:20px;
	background:#8F7A66;
	border-radius:5px;
	width:100px;
	height:40px;
	text-align:center;
}
.moves
{
	position:relative;
	
	bottom:-15px;
	color:#fff;
	font-size:20px;
	background:#8F7A66;
	border-radius:5px;
	width:100px;
	height:40px;
	text-align:center;
}
.sc
{
	color:#776E65;	
}
.mv
{
	color:#776E65;
}

#head
{
	width:100%;
	height:15%;
	/*background:url('img03.jpg') repeat;*/
	border-radius:5px;
	float:left;
}

#left
{
	float:left;
	position:relative;
	width:400px;
	height:500px;
	color:#776E65;
	

	
}
#mid
{
	float:left;
	position:relative;
	width:450px;
	height:500px;
	color:#776E65;

	
}
#rite
{
	float:left;
	position:relative;
	width:350px;
	height:500px;
	color:#776E65;
	

}

h1
{
	color:#776E65;
	float:left;
	position:relative;
	left:70px;
	font-size:100px;
	top:-90px;
	
	
}
h6
{
	
	float:right;
	position:relative;
	right:50px;
	bottom:50px;
	color:#776E65;
}
h5
{
	color:#776E65;
	float:left;
	position:relative;
	left:-100px;
	top:90px;
	
	
}

.schedule
{


	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	
	border-radius:5px;
	background:#BBADA0;
	width:450px;
	height:450px;
	margin-top:50px;
	float:left;
	position:relative;
	
display:none;
	
	


}


/* === Button Style === */
.b
{
    width:100px;
	height:100px;
	background:#CCC0B3;
	
	margin-left:3px;
	color:#776E65;
	font-size:30px;
	
	text-align: center;
	border:none;
border-radius:5px;
	
}

#refresh
{
	position:relative;
	
	
	color:#fff;
	cursor:pointer;
	background:#8F7A66;
	border-radius:5px;
	width:100px;
	height:40px;
	text-align:center;
	top:13px;
	
	
}

/*===========================loading=================================================*/

.css_spinner{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 50%;
	top: 50%;
	margin: -50px 0 0 -50px;
	opacity: .9;
	
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}

.css_spinner .half{
	position: absolute;
	width: 50px;
	height: 100px;
	top: 0;
	overflow: hidden;
}

.css_spinner .left{
	left: 0px;
	
	-webkit-border-radius: 999px 0 0 999px;
	-moz-border-radius: 999px 0 0 999px;
	border-radius: 999px 0 0 999px;
}

.css_spinner .right{
	left: 50px;
	
	-webkit-border-radius: 0 999px 999px 0;
	-moz-border-radius: 0 999px 999px 0;
	border-radius: 0 999px 999px 0;
}

.css_spinner .band{
	position: absolute;
	width: 50px;
	height: 100px;
	background:#F65E3B;
	
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
	
	-webkit-animation: cssSpinnerRight 1s infinite linear;
	-moz-animation: cssSpinnerRight 1s infinite linear;
}

.css_spinner .left .band{
	left: 0;
	border-left: 50px solid #FAF8EF;

	-webkit-animation: cssSpinnerLeft 1s infinite linear;
	-moz-animation: cssSpinnerLeft 1s infinite linear;
}

.css_spinner .right .band{
	right: 0;
	border-right: 50px solid #FAF8EF;
}

@-webkit-keyframes cssSpinnerLeft{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(0deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(180deg)}
  100%{-webkit-transform:rotate(360deg)}
}

@-webkit-keyframes cssSpinnerRight{
  0%{-webkit-transform:rotate(0deg)}
  25%{-webkit-transform:rotate(180deg)}
  50%{-webkit-transform:rotate(180deg)}
  75%{-webkit-transform:rotate(360deg)}
  100%{-webkit-transform:rotate(360deg)}
}

@-moz-keyframes cssSpinnerLeft{
  0%{-moz-transform:rotate(0deg)}
  25%{-moz-transform:rotate(0deg)}
  50%{-moz-transform:rotate(180deg)}
  75%{-moz-transform:rotate(180deg)}
  100%{-moz-transform:rotate(360deg)}
}

@-moz-keyframes cssSpinnerRight{
  0%{-moz-transform:rotate(0deg)}
  25%{-moz-transform:rotate(180deg)}
  50%{-moz-transform:rotate(180deg)}
  75%{-moz-transform:rotate(360deg)}
  100%{-moz-transform:rotate(360deg)}
}
