<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="store">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Caar-O-Baar |</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link href="includes/css/application.css" rel="stylesheet" />
<script src="includes/js/angular.min.js" type="text/javascript"></script>

<script src="includes/js/app.js"></script>

</head>

<div class="modal fade" id="fModal" tabindex="-1" role="dialog" aria-labelledby="fModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="fModalLabel">Add your favourites here!</h4>
      </div>
      <div class="modal-body">
        <div id="app"></div>
      </div>
      <div class="modal-footer">
        
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="loginModalLabel">Login to your account</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" id="username">
          </div>
          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" id="password"></textarea>
          </div>
        </form>
        <div class="form-group error">
        </div>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" ng-controller="loginController as login" ng-click="signin()">Login</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cartModalLabel">your cart</h4>
      </div>
      <div class="modal-body">
      	<div class="cartlist" ng-controller="cartController as cart">
        	<ul class="list-group">
			<li class="list-group-item" style="height:auto;" ng-repeat="item in cart.items">
            
            	<span class="pull-left text-center"><img ng-src="{{item.images[0]}}" width="50" height="50" /></span>
                <span>{{item.name}}</span>
                <span style="float:right;">{{item.price}}</span>
                <span class="clearfix"></span>
            </li>
            <li class="list-group-item">
            	<span>TOTAL AMOUNT</span>
                <span style="float:right; color:#337AB7;">{{getTotal()}}</span>
            </li>
            </ul>
        </div>
        </div>
       <!-- <form>
          <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" id="username">
          </div>
          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>-->
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
<body ng-controller="storeController as store">
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="color:#337AB7;"><span><img src="includes/img/Car-01-48 (1).png"/></span> CAAR-O-<font color="#00acc1">BAAR</font></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="acc">
                        <a class="page-scroll" ng-controller="loginController as login" ng-click="isLoggedIn()"><span><img src="includes/img/Accounts-Book-24.png"/></span>Account</a>
                    </li>
                    <li>
                        <a class="page-scroll" ng-controller="cartController as cart" ng-click="showCart()"><span><img src="includes/img/Shopping-Cart-01-24.png"/></span>Cart <span class="badge">{{c}}</span></a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#fModal"><span><img src="includes/img/Heart-24 (1).png"/></span>Favourites</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	<div class="container">
    	
		<ul class="list-group">
			<li class="list-group-item well" ng-repeat="product in store.products">
				<product-title></product-title>
                
				<div class="gallery" ng-show="product.images.length">
          			<img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[0]}}" />
          			<ul class="clearfix">
                    <hr />
            			<li class="small-image pull-left text-center thumbnail" ng-repeat="image in product.images"> <img ng-src="{{image}}" /> </li>
          			</ul>
       		 	</div>
				<hr />

				<section ng-controller="panelController as panel">
					<ul class="nav nav-pills nav-justified">
						<li ng-class="{active:panel.isSelected(1)}">
							<a href ng-click="panel.selectTab(1)">Description</a>
						</li>
						
                        <li ng-class="{active:panel.isSelected(2)}">
							<a href ng-click="panel.selectTab(2)">Specifications</a>
						</li>
						
                        <li ng-class="{active:panel.isSelected(3)}">
							<a href ng-click="panel.selectTab(3)">Reviews</a>
						</li>
					</ul>
                
				
                    <div class="panel" ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <h4>Specification</h4>
                        <p><strong>Engine Description: </strong>{{product.engine}}</p>
                        <p><strong>Power(BHP): </strong>{{product.power}}</p>
                        <p><strong>Mileage(KMPL): </strong>{{product.mileage}}</p>
                        <p><strong>Transmission: </strong>{{product.transmission}}</p>
                        <p><strong>Central Locking: </strong>{{product.centralLocking}}</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">
                        <ul>
                        <h4>Reviews</h4>
                        	
                        	<li ng-repeat="review in product.reviews">
                        		<strong>{{review.stars}} stars</strong>
                            	{{review.body}}
                            	{{review.author}}
                            </li>
                            
                        </ul>
                        <form name="reviewForm" ng-controller="reviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
              <!--  Live Preview -->
              <blockquote>
                <strong> {{reviewCtrl.review.stars}}Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              </blockquote>

              <!--  Review Form -->
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" ng-model="reviewCtrl.review.stars" title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input type="email" class="form-control" ng-model="reviewCtrl.review.author" placeholder="jimmyDean@example.org" title="Email" required/>
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
                        
                    </div>

				<button class="btn btn-warning" ng-controller="cartController as cart" ng-click="nocars(product)" ng-show="product.canPurchase">Add to cart</button>
                </section>
			</li>
		</ul>
        
	</div>
    <script src="includes/js/bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
</body>
</html>
